@model DesarrolloMTZ.Models.Desarrollo_MTZ_MV
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Datos del Vehiculo</h2>
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Index", "HOME", method: FormMethod.Post))
                    {
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.nivel_combustible, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Nivel de combustible", @required = "required", @id="nc" } })
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="Litros"style="width:50px" class="form-control"  />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.masa_vehiculo, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "masa del vehículo", @required = "required", @id="mv" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="Kg"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.masa_carga, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "masa de carga que lleva", @required = "required", @id="mc" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="Kg"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.angulo_calle, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "ángulo de inclinación de la calle ", @required = "required", @id="a" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="Grados"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.distancia, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "distancia de desplazamiento", @required = "required", @id="d" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="Mts"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.tiempo, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "tiempo para completar desplazamiento", @required = "required", @id="t" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="Seg"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.max_rpm, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "máximo de RPM del motor ", @required = "required", @id="rpm" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="RPM"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.max_potencia, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "potencia máxima del motor", @required = "required", @id="p" } })

                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="HP"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="row">
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => Model.datosI.consumo_combustible, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Consumo de combustible/revolución", @required = "required", @id="cc" } })
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" readonly value="ml"style="width:50px" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="button" id="btnRandom" class="btn btn-primary text-white ml-2 mb-4" value="LLenar Campos" />
                                <input type="button" id="btnReset" class="btn btn-danger text-white ml-2 mb-4" value="LLenar Campos" />
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btnsubmit" class="btn btn-success btn-block text-white ml-2" value="Procesar" onclick="actualizarF()">
                            </div>
                            }
                        </div>
                        </div>
                    </div>
        <div class="">
            <h1>Resultado</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><abbr title="Peso Neto del vehiculo">pnv</abbr></th>
                            <th><abbr title="Peso de la carga">pc</abbr></th>
                            <th><abbr title="Peso Total del vehículo ">ptv</abbr></th>
                            <th><abbr title="Velocidad máxima de alcance">v</abbr></th>
                            <th><abbr title="Aceleración máxima de alcance ">a</abbr></th>
                            <th><abbr title=" Fuerza de atracción">fa</abbr></th>
                            <th><abbr title="Fuerza Neta ">fn</abbr></th>
                            <th><abbr title="Fuerza requerida de impulso ">fri</abbr></th>
                            <th><abbr title="Fuerza requerida de impulso ">rr</abbr></th>
                            <th><abbr title="Potencia requerida ">pr</abbr></th>
                            <th><abbr title="Combustible requerido">cr</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.datosO != null)
                            {
                                <tr>
                                    <td>@Model.datosO.peso_neto_vehiculo N</td>
                                    <td>@Model.datosO.peso_carga N</td>
                                    <td>@Model.datosO.peso_total_vehiculo N</td>
                                    <td>@Model.datosO.max_velocidad mts/s</td>
                                    <td>@Model.datosO.max_aceleracion mts/s2</td>
                                    <td>@Model.datosO.fuerza_atraccion N</td>
                                    <td>@Model.datosO.fuerza_neta N</td>
                                    <td>@Model.datosO.fuerza_impulso_req N</td>
                                    <td>@Model.datosO.revoluciones_req RPM</td>
                                    <td>@Model.datosO.potencia_req HP</td>
                                    <td>@Model.datosO.combustible_req L</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @if (Model != null)
                {
                    <div class="text-danger">
                        <span class="btn btn-danger text-white" id="mensaje" name="@Model.mensaje" hidden>@Model.mensaje</span>
                        
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var mensaje = document.getElementById('mensaje');
            var result = mensaje.getAttribute('name');
            if (result != "") {
                mensaje.removeAttribute('hidden');
            }

            function random(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min);
            }

            $('#btnRandom').on('click', function () {
                $('#nc').val(random(10, 100));
                $('#mv').val(random(1000, 8500));
                if ($('#mv').val() >= 1000 && $('#mv').val() < 2500) {
                    $('#mc').val(random(4000, 8000));
                    $('#p').val(random(80, 120));
                    $('#cc').val(random(10000, 15000));
                }
                if ($('#mv').val() >= 2500 && $('#mv').val() < 4000) {
                    $('#mc').val(random(8000, 12000));
                    $('#p').val(random(100, 150));
                    $('#cc').val(random(15000, 20000));
                }
                if ($('#mv').val() >= 4000 && $('#mv').val() < 5500) {
                    $('#mc').val(random(12000, 18000));
                    $('#p').val(random(150, 200));
                    $('#cc').val(random(20000, 25000));
                }
                if ($('#mv').val() >= 5500 && $('#mv').val() < 7000) {
                    $('#mc').val(random(18000, 24000));
                    $('#p').val(random(200, 300));
                    $('#cc').val(random(250000, 30000));
                }
                if ($('#mv').val() >= 7000) {
                    $('#mc').val(random(24000, 32000));
                    $('#p').val(random(300, 500));
                    $('#cc').val(random(30000, 40000));
                }

                $('#a').val(random(0, 25));
                $('#d').val(random(100, 1000));
                $('#t').val(random(5, 60));
                $('#rpm').val(random(900, 1600));
            });

            $('#btnReset').on('click', function () {
                $('#nc').val("");
                $('#mv').val("");
                $('#mc').val("");
                $('#d').val("");
                $('#a').val("");
                $('#t').val("");
                $('#p').val("");
                $('#cc').val("");
                $('#rpm').val("");
            });
        });
        
    </script>
    }